html {
  font-size: 62.5%;
}

.main__navbar {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.6rem auto;
  font-size: 1.6rem;
}

.nav-icon {
  stroke: black;
  width: 2.4rem;
  height: 2.4rem;
}
