
html {
  font-size: 62.5%;
}


.main__navbar {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.6rem auto;
  font-size: 1.6rem;
}

.nav-icon {
  stroke: black;
  width: 2.4rem;
  height: 2.4rem;
}


.sidebar-panel {
  position: fixed;
  top: 0;
  left: -50vw;
  transform: translate(0%, 0);
  background-color: #fff;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: left 0.5s all;
}

.sidebar-open {
  left: 0;
  transform: translate(0%, 0);
  display: flex;
  justify-content: flex-start;
  margin-top: 1.6rem;
  gap: 3rem;
}

@media (max-width: 1024px) {
  .main__navbar {
    flex-direction: column;
  }

  .sidebar-panel {
    width: 100vw;
    left: -100vw;
  }

  .sidebar-open {
    left: 0;
    transform: translate(0%, 0);
    display: flex;
    justify-content: flex-start;
    margin-top: 1.6rem;
    gap: 3rem;
  }
}

/* Responsive Styles for Mobile */
@media (max-width: 767px) {
  .main__navbar {
    flex-direction: column;
  }

  .sidebar-panel {
    width: 100vw;
    left: -100vw;
  }

  .sidebar-open {
    left: 0;
    transform: translate(0%, 0);
    display: flex;
    justify-content: flex-start;
    margin-top: 1.6rem;
    gap: 3rem;
  }
}

